<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>
    <main>
        <article class="form-login-register">
            <form action="/products/<%= articulos_id %>/edit?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
                <h4>Editar un producto</h4>
                <h2>TechBox</h2>
                <div class="inputValidators"></div>
                <div class="form__campos">
                    <input type="text" name="name" placeholder="Nombre del producto" value="<%= product.name %>" value="<%= locals.oldData ? oldData.name : null %>">
                    <% if (locals.errors && errors.name) { %>
                        <p class="form__error">
                            <%= errors.name.msg %>
                        </p>
                    <% } %>
                    <input type="text" name="description" placeholder="Descripcion del producto" value="<%= product.description %>" value="<%= locals.oldData ? oldData.description : null %>">
                    <% if (locals.errors && errors.description) { %>
                        <p class="form__error">
                            <%= errors.description.msg %>
                        </p>
                    <% } %>
                    <input type="text" name="price" placeholder="Valor monetario" value="<%= product.price %>" value="<%= locals.oldData ? oldData.price : null %>">
                    <% if (locals.errors && errors.price) { %>
                        <p class="form__error">
                            <%= errors.price.msg %>
                        </p>
                    <% } %>
                    
                    <select name="marca" id="category">
                        <% marcas.forEach(element => { %>
                            <% if(element === product.marca){ %>
                                <option value="<%= product.marca %>" selected><%= product.marca %></option>
                            <% } else { %>
                                <option value="<%= element %>"><%= element %></option> 
                            <% } %>
                        <% }); %>
                    </select>
                    <input type="file" name="imagen" placeholder="Imagen del producto" value="<%= locals.oldData ? oldData.imagen : null %>">
                    <% if (locals.errors && errors.imagen) { %>
                        <p class="form__error">
                            <%= errors.imagen.msg %>
                        </p>
                    <% } %>
                </div>
                <div class="form__buttom">
                    <input type="submit" value="Cargar Producto"></input>
                </div>
            </form>
        </article>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/script.js"></script>
    <script src="/js/validations/inputValidators.js"></script>
</body>
</html>
