<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <!-- HISTORIA DE USUARIO -->

    <!--
        Como cliente quiero poder ver toda la información relevante del producto para decidir si voy a comprarlo.

        Como cliente quiero poder agregar fácilmente el producto a mi carrito para poder comprarlo.
    -->
    <%- include('./partials/header') %>
    <main class="productoDetail-content">
        <article class="producto">
            <div class="productoImage">
                <img src="/img/product/<%= product.imagen %>" alt="" onerror="this.src='/img/product/default.jpg'">
            </div>

            <div class="productoDetail">
                <h2>
                    <%= product.name %>
                </h2>
                <p>
                    <%= product.description %>
                </p>
                <P class="productoPrice">
                    US$<%= product.price %>
                </P>
                <div class="productoGaratias">
                    <div class="garantias">
                        <i class="fa-solid fa-shield-halved"></i>
                        Garantia de 36 meses
                    </div>
                    <div class="garantias">
                        <i class="fa-solid fa-check"></i>
                        Disponible en stock
                    </div>
                    <div class="garantias">
                        <i class="fa-solid fa-truck"></i>
                        Envio gratis y asegurado
                    </div>
                </div>

                <% if (errormsg) { %>
                    <h2><%= errormsg %></h2>
                <% } %>
                <% if (cookies) { %>
                    <form method="post" action="/products/detail/<%=product.articulos_id%>">
                        <% if (isAdded) { %>
                            <input type="submit" class="producto-card" value="¡Producto agregado!🔥">
                        <% } else { %>
                            <input type="submit" class="producto-card" value="Agregar al carro">
                        <% } %>
                    </form>
                <% } else { %>
                    <form>
                        <input type="button" class="producto-card" value="Agregar al carro" onClick="this.value = 'No estas logeado!'">
                    </form>
                <% } %>

                
            </div>
        </article>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/script.js"></script>
    <% if (cookies) { %>
        
    <% } %>
</body>

</html>