<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <!-- HISTORIA DE USUARIO -->
    <!--
        Como cliente quiero poder registrarme para estar en su base de datos y acceder a mi perfil e historial de compras de una manera más sencilla y, además, facilitar el proceso de futuras compras.
    -->
    <%- include('./partials/header') %>
    <main>
        <article class="form-login-register">
            <form action="/user/userRegister" method="POST" class="form">
                                                     <!-- enctype='multipart/form-data' -->  
                <h4>Crear una cuenta de</h4>
                <h2>TechBox</h2>
                <div class="form__campos">
                    <input type="user" placeholder="User" name="name">
                    <% if (locals.errors && errors.name) { %>
                        <p class="form__error">
                            <%= errors.name.msg %>
                        </p>
                    <% } %>
                    <input type="email" name="mail" placeholder="Direccion de correo electronico" autocomplete="on">
                    <% if (locals.errors && errors.mail) { %>
                        <p class="form__error">
                            <%= errors.mail.msg %>
                        </p>
                    <% } %>
                    <input type="password" name="password" placeholder="Password" autocomplete="off">
                    
                    <% if (locals.passwordAuth) { %>
                        <p class="form__error">
                            <%= passwordAuth %>
                        </p>
                    <% } %>
                    
                    <% if (locals.errors && errors.password) { %>
                        <p class="form__error">
                            <%= errors.password.msg %>
                        </p>
                    <% } %>
                    <input type="file" name="imagen">
                    <% if(locals.multerErr) {%>
                        <p class="form__error">
                            <%= multerErr %>
                        </p>
                    <% } %>
                </div>
                <div class="form__buttom">
                    <input type="submit" value="Registrarse">
                </div>
                <div class="form__register-login">
                    <p>¿Tienes cuenta?</p>
                    <a href="/user/userLogin" class="form__link">Inicia sesion!</a>
                </div>
            </form>
        </article>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/script.js"></script>
</body>

</html>